{% extends "short_base.html" %}

{% block content %}
<!-- ADMIN_BUTTONS -->
    <section class="admin-buttons m-5">
      <div class="container">
        <div class="row text-center">
          <h1>Admin</h1>
        </div>
        <div class="row">
          <div class="col m-4 p-5 text-center text-align rounded">
            <a class="btn btn-dark butt" href="#" role="button">
                <h2>
                    Fragen
                </h2>
            </a>
          </div>
          <div class="col m-4 p-5 text-center text-align rounded">
            <a class="btn btn-dark butt" href="#" role="button">
                <h2>
                    Akuelles
                </h2>
            </a>
          </div>
      </div>
    </section>
{% endblock content %}