{% extends "base.html" %}

{% block content %}
<!-- DRUM LESSON -->
<section class="drum_lesson">
    <div class="container p-5">
      <div class="row justify-content-center text-center">
        <div class="col-md-7 text-center">
          <img src="static/img/drummer.svg" alt="">
          <h1>Schlagzeugunterricht</h1>
          <p>
            Für den Schlagzeugunterricht habe ich  begonnen ebenfalls eine Schule zu schreiben.
            Sie heißt: "Schlagsahne" und ist seitengleich auf die Klavierschule abgestimmt,
            sodass der Schlagzeugschüler für jeden Rhythmus den er lernt ein entsprechendes
            Klavierstück vorfindet - und sogar ein Unterricht zusammen mit dem Klavierschüler möglich wird,
            Stichwort: Tandem Unterricht.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}