{% extends "base.html" %}

{% block content %}
<!-- PIANO LESSON -->
<section class="piano_lesson">
    <div class="container p-5">
      <div class="row justify-content-center">
        <div class="col col-md-7 text-center">
          <img src="static/img/piano-top-view.svg" alt="piano-top-view">
          <h1>Klavierunterricht</h1>
          <p>
          Klavierunterricht, ja, ganz allgemein: "Musik machen" - und das Unterrichten gehört schließlich auch dazu  - ist ein ganzheitlicher Vorgang.
          Darum lernen meine Schüler Musik zu interpretieren und zu improvisieren, intuitiv zu spielen und genau zu wissen, was sie tun, Noten lesen und Selbsterdachtes aufschreiben, kurz: beide Gehirnhälften zu benutzen. 
          In der Regel spiele ich im Unterricht mit, um gleich "musikalische Kommunikation" und das "Aufeinanderhören" zu ermöglichen.
          Erfolgreich finde ich den Unterricht, wenn der Schüler seine eigene "musikalische Stimme" und damit einen direkten Weg zu seiner Kreativität gefunden hat.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}